.mainContainer{
    .headerContainer{
        width:100%;
        background-color:$darkGreen;
        padding:50px 30px 45px 30px;
        flex-basis:100%;
        .headerLogo{
            width:300px;
            box-sizing: border-box;    
            padding-bottom:5px;
            border-bottom: 2px solid $darkGreen;
            &:hover{
                border-bottom:2px solid $orange;
                @include transition(.25s);
            }
        }
        @media screen and (max-width: 900px){
            padding:20px 20px 10px 20px;
            a{
                width:200px;
                margin:auto;
                display:block;
                .headerLogo{
                    width:200px;
                }
            }
            
        }
    }
    .bodyContainer{
        margin:auto;
        display:flex;
        margin-top:40px;
        max-width:1200px;
        width:100%;
        justify-content:space-between;
        align-items: flex-start;
        .contentContainer{
            margin:auto;
            width:100%;
            display:block;
            padding:30px;
            max-width:800px;
            .title{
                margin-bottom:10px;
                padding-bottom:5px;
                color:$darkGreen;
                border-bottom:2px solid $orange;
            }
            .date{
                font-style:italic;
            }
            .postListHeader{
                margin-bottom:30px;
                h2{
                    margin-bottom:15px;
                    a{
                        font-size:$ml-size;
                    }
                }
                small{
                    font-size:$s-size;
                    margin-bottom:10px;
                    display:block;
                }
            }
        }
        .sidebarContainer{
            width:300px;
            padding:30px;
            background-color:$lightGray;
            height:auto;
            position: -webkit-sticky;
            position: sticky;
            right:30px;
            top:30px;
            margin-left:30px;
            h2{
                margin-top:0;
                padding-bottom:10px;
                border-bottom:2px solid $orange;
                font-family: 'Roboto', sans-serif;
            }
            a{
                font-family: 'Roboto', sans-serif;
            }
            section{
                margin-bottom:20px;
                &:last-child{
                    margin-bottom:0;
                }
                span{
                    color:$darkGreen;
                    font-style:italic;
                    font-size:$s-size;
                    margin-top:-5px;
                    display:block;
                    text-decoration: none;
                }
                i{
                    text-align:center;
                    font-size:$s-size;
                    display:block;
                }
            }
        }
        @media screen and (max-width:900px){
            display:block;
            .sidebarContainer{
                width:100%;
                margin:auto;
                text-align:center;
            }
        }
    }
}

