.blogHeader{
    h1{
        font-size:$xl-size;
    }
}
.blogContainer{
    h2{
        // background-color:$lightGray;
        // background: linear-gradient(135deg, rgba(242,242,242,1) 50%, rgba(242,242,242,0.0) 100%);
        border-bottom:2px solid $orange;
        padding:20px;
        padding-bottom:5px;
        color:$darkGreen;
        text-align:center;
        margin-top:50px;
    }
}